<%- include("template/headTemplate") %>
 
<body>

  <h1>
    ACTIVIDADES
    COLABORADORES
  </h1>
    <form action="/Formulario/FormularioColaboradores" method="POST">

      <div>
      <label for="id_tipoColaborador">Tipo</label>
      <label for="id_rutColaborador">Rut</label>
      <label for="id_nombreColaborador">Nombre</label>
      <label for="id_apellidoPaternoColaborador">Apellido Paterno</label>
      <label for="id_apellidoMaternoColaborador">Apellido Materno</label>
      </div>
      <div>
      <select name="tipoColaborador" id="id_tipoColaborador">
        <option value="tipoColaborador_opcion1">tipoColaborador_opcion1</option>
        <option value="tipoColaborador_opcion2">tipoColaborador_opcion2</option>
        <option value="tipoColaborador_opcion3">tipoColaborador_opcion3</option>
      </select>
      <select name="rutColaborador" id="id_rutColaborador">
        <option value="rutColaborador_opcion1">rutColaborador_opcion1</option>
        <option value="rutColaborador_opcion2">rutColaborador_opcion2</option>
        <option value="rutColaborador_opcion3">rutColaborador_opcion3</option>
      </select>
      <select name="nombreColaborador" id="id_nombreColaborador">
        <option value="nombreColaborador_opcion1">nombreColaborador_opcion1</option>
        <option value="nombreColaborador_opcion2">nombreColaborador_opcion2</option>
        <option value="nombreColaborador_opcion3">nombreColaborador_opcion3</option>
      </select>
      <select name="apellidoPaternoColaborador" id="id_apellidoPaternoColaborador">
        <option value="apellidoPaternoColaborador_opcion1">apellidoPaternoColaborador_opcion1</option>
        <option value="apellidoPaternoColaborador_opcion2">apellidoPaternoColaborador_opcion2</option>
        <option value="apellidoPaternoColaborador_opcion3">apellidoPaternoColaborador_opcion3</option>
      </select>
      <select name="apellidoMaternoColaborador" id="id_apellidoMaternoColaborador">
        <option value="apellidoMaternoColaborador_opcion1">apellidoMaternoColaborador_opcion1</option>
        <option value="apellidoMaternoColaborador_opcion2">apellidoMaternoColaborador_opcion2</option>
        <option value="apellidoMaternoColaborador_opcion3">apellidoMaternoColaborador_opcion3</option>
      </select>
      <button class="btn btn-success btn-block">+</button>
      </div>
      <div>
      
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
        </tr>
      </thead>
    </table>

  <div>
  <a class="btn btn-success btn-block" href="/Formulario/FormularioActividadInformacion">FormularioActividadInformacion</a>
  </div>

</body>