<%- include("template/headTemplate") %>

<body>

<div class="container col-md-8">

  <h1>AGREGAR UNA NUEVA ACTIVIDAD</h1>

    <form action="/Formulario/Formulario3" method="POST">

      <!-- FILA 1 -->
      <div class="row p-2">
      <div class="form-group col-md-8">
        <label for="id_nombreActividad">Nombre de la Actividad: </label>
        <input class="form-control" type="text" name="nombreActividad" id="id_nombreActividad"></input>
      </div>
      <div class="form-group col-md-4">
        <label for="id_campusSede">Campus/Sede: </label>
        <select class="form-control" name="campusSede" id="id_campusSede">
          <option value="campusSede_opcion1">opcion1</option>
          <option value="campusSede_opcion2">opcion2</option>
          <option value="campusSede_opcion3">opcion3</option>
        </select>
      </div>
    </div>

      <!-- FILA 2 -->
      <div class="form-group p-2">
        <label for="id_descripcionActividad">Descripción: </label>
        <input class="form-control" type="text" name="descripcionActividad" id="id_descripcionActividad"></input>
      </div>

      <!-- FILA 3 -->
      <div class="form-group p-2">
        <label for="id_objetivoActividad">Objetivo: </label>
        <input class="form-control" type="text" name="objetivoActividad" id="id_objetivoActividad"></input>
      </div>

      <!-- FILA 4 -->
      <div class="form-group p-2">
        <label for="id_tipoActividad">Tipo de Actividad: </label>
        <select class="form-control" name="tipoActividad" id="id_tipoActividad">
          <option value="tipoActividad_opcion1">tipoActividad_opcion1</option>
          <option value="tipoActividad_opcion2">tipoActividad_opcion2</option>
          <option value="tipoActividad_opcion3">tipoActividad_opcion3</option>
        </select>
      </div>

      <!-- FILA 5 -->
      <div class="row p-2">
      <div class="form-group col-md-6">
        <label for="id_tipoSocioComunitario">Tipo Socio Comunitario: </label>
        <select class="form-control" name="tipoSocioComunitario" id="id_tipoSocioComunitario">
          <option value="tipoSocioComunitario_opcion1">tipoSocioComunitario_opcion1</option>
          <option value="tipoSocioComunitario_opcion2">tipoSocioComunitario_opcion2</option>
          <option value="tipoSocioComunitario_opcion3">tipoSocioComunitario_opcion3</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="id_nombreSocio">Nombre de Socio: </label>
        <input class="form-control" type="text" name="nombreSocio" id="id_nombreSocio"></input>
      </div>
    </div>

      <!-- FILA 6 -->
      <div class="form-group p-2">
        <label for="id_tipoDestinatario">Tipo de Destinatario: </label>
        <select class="form-control" name="tipoDestinatario" id="id_tipoDestinatario">
          <option value="tipoDestinatario_opcion1">tipoDestinatario_opcion1</option>
          <option value="tipoDestinatario_opcion2">tipoDestinatario_opcion2</option>
          <option value="tipoDestinatario_opcion3">tipoDestinatario_opcion3</option>
        </select>
      </div>

      <!-- FILA 7 -->
      <div class="row p-2">
      <div class="form-group col-md-3">
        <label for="id_fechaInicio">Fecha de Inicio: </label>
        <input class="form-control" type="text" name="fechaInicio" id="id_fechaInicio"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="id_horaInicio">Hora de Inicio: </label>
        <input class="form-control" type="text" name="horaInicio" id="id_horaInicio"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="id_fechaTermino">Fecha de Término: </label>
        <input class="form-control" type="text" name="fechaTermino" id="id_fechaTermino"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="id_horaTermino">Hora de Término: </label>
        <input class="form-control" type="text" name="horaTermino" id="id_horaTermino"></input>
      </div>
    </div>

      <!-- FILA 8 -->
      <div class="row p-2">
      <div class="form-group col-md-6">
        <label for="id_direccion">Direccion: </label>
        <input class="form-control" type="text" name="direccion" id="id_direccion"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="id_numero">#Número: </label>
        <input class="form-control" type="text" name="numero" id="id_numero"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="id_ciudad">Ciudad: </label>
        <input class="form-control" type="text" name="ciudad" id="id_ciudad"></input>
      </div>
    </div>

      <!-- FILA 9 -->
      <div class="form-group p-2">
        <label for="id_institucionesAdministrativas">Instituciones Administrativas: </label>
        <select class="form-control" name="institucionesAdministrativas" id="id_institucionesAdministrativas">
          <option value="institucionesAdministrativas_opcion1">institucionesAdministrativas_opcion1</option>
          <option value="institucionesAdministrativas_opcion2">institucionesAdministrativas_opcion2</option>
          <option value="institucionesAdministrativas_opcion3">institucionesAdministrativas_opcion3</option>
        </select>
      </div>

      <!-- FILA 10 -->
      <div class="row p-2">
      <div class="form-group col-md-8">
        <label for="id_financiamiento">Financiamiento: </label>
        <select class="form-control" name="financiamiento" id="id_financiamiento">
          <option value="financiamiento_opcion1">financiamiento_opcion1</option>
          <option value="financiamiento_opcion2">financiamiento_opcion2</option>
          <option value="financiamiento_opcion3">financiamiento_opcion3</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="id_monto">Monto: </label>
        <input class="form-control" type="text" name="monto" id="id_monto"></input>
      </div>
    </div>
      
    </form>



    <h1>RESPONSABLE DE LA ACTIVIDAD</h1>
    <form action="/Formulario/Formulario3" method="POST">

      <!-- FILA 1 -->
      <div class="form-group p-2">
        <label for="id_responsable">Responsable: </label>
        <input class="form-control" type="text" name="responsable" id="id_responsable"></input>
      </div>
      
    </form>

  <div class="p-4">
  <a class="btn btn-success btn-block" href="/">Ir a Index</a>
  <a class="btn btn-success btn-block" href="/Formulario/FormularioActividadInformacion">Siguiente</a>
  </div>

</div>

</body>