<%- include("template/headTemplate") %>

<body>

  <h1>
    REGISTROS DE LA
    ACTIVIDAD
  </h1>
    <form action="/Formulario/FormularioRegistros" method="POST">

      <!-- SECCIÓN 1 -->

      <!-- SECCIÓN 2 -->
      
    </form>

    <div>
      <a class="btn btn-success btn-block" href="/Formulario/FormularioActividadInformacion">FormularioActividadInformacion</a>
    </div>

</body>