<%- include("template/headTemplate") %>

<body>
    <h1>Formulario de Inscripción (TEST)</h1>
    Ingrese sus datos
    <h2>Datos Personales</h2>
    <form action="/FormTest" method="POST">

      <div>
        <label for="id_nombreFormTest">Nombre: </label>
        <input type="text" name="nombreFormTest">
      </div>
      <br>
      <div>
        <label for="id_carreraFormTest">Carrera: </label>
        <input type="text" name="carreraFormTest">
      </div>
      <br>
      <div>
        <label for="id_actividadTest">Actividad: </label>
          <select name="actividadTest" id="id_actividadTest">
              <option value="actividadTest1">Actividad 1</option>
              <option value="actividadTest2">Actividad 2</option>
              <option value="actividadTest3">Actividad 3</option>
              <option value="actividadTest4">Actividad 4</option>
              <option value="actividadTest5">Actividad 5</option>
              <option value="actividadTest6">Actividad 6</option>
          </select>
      </div>
      <br>
      <div>
        <label for="id_horasActividadTest">Actividad: </label>
          <select name="horasActividadTest" id="id_horasActividadTest">
              <option value="1">1 Hora</option>
              <option value="2">2 Horas</option>
              <option value="3">3 Horas</option>
              <option value="4">4 Horas</option>
              <option value="5">5 Horas</option>
              <option value="6">6 Horas</option>
          </select>
      </div>
      <div>
      <button class="btn btn-success btn-block" type="submit">Inscribir</button>
      </div>
  </form>
  <div>
  <a class="btn btn-success btn-block" href="/">Ir a Index</a>
  <a class="btn btn-success btn-block" href="/FormTest/FormTestDatos">Ir a FormTestDatos</a>
  </div>
</body>