<%- include("template/headTemplate") %>
<%- include("template/navbar1Template") %>
<%- include("template/navbar2Template") %>

<!-- TITULO --> 
<div class="p-4">
  <h2>
    TRIBUTACIONES DE LA
  </h2>
  <h1>
    ACTIVIDAD
  </h1>
  <a href="/">Inicio</a> -> <a href="/Formulario/FormularioActividadInformacion">NOMBREACTIVIDAD</a> -> <a href="/Formulario/FormularioTributaciones">Tributaciones</a>
</div>

<!-- FORMULARIO -->
<div class="container rounded col-md-8" style="background-color: white;">

    <form action="/Formulario/FormularioTributaciones" method="POST">

      <div class="row p-2">
      <div class="form-group col-md-5">
      <label for="id_tipoUnidadTributaciones">Tipo de Unidad</label>
      <select class="form-control" name="tipoUnidadTributaciones" id="id_tipoUnidadTributaciones">
        <option value="tipoUnidadTributaciones_institucional">Institucional</option>
        <option value="tipoUnidadTributaciones_departamento">Departamento</option>
        <option value="tipoUnidadTributaciones_opcion3">tipoUnidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-5">
      <label for="id_unidadTributaciones">Unidad</label>
      <select class="form-control" name="unidadTributaciones" id="id_unidadTributaciones">
        <option value="unidadTributaciones_opcion1">unidadTributaciones_opcion1</option>
        <option value="unidadTributaciones_opcion2">unidadTributaciones_opcion2</option>
        <option value="unidadTributaciones_opcion3">unidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-2">
      <button class="btn btn-success btn-block" type="submit">AGREGAR</button>
      </div>
    </div>
      
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
        </tr>
      </thead>
    </table> 

    </div>

  <div class="p-4">
    <a class="btn btn-success btn-block" href="/Formulario/FormularioActividadInformacion">Guardar</a>
  </div>

</body> 

</html>
