<%- include("template/headTemplate") %>
<%- include("template/navbar1Template") %> <!--
<%- include("template/navbar2Template") %> -->

<div class="container col-md-8">

    <h1>
      INFORMACIÓN DEL
      PROGRAMA
    </h1>

    <a href="/">Inicio</a> -> <a href="/Formulario/FormularioProgramaInformacion">NOMBREPROGRAMA</a>

    <!-- Datos desplegados -->
    <table class="table">
        <tbody>
          <tr>
            <th scope="col">
              Nombre del Programa
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Descripción
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Unidad Asociada
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
        </tbody>
      </table>

      <h2>
        CREADO POR
      </h2>
  
      <!-- Datos desplegados -->
      <table class="table">
        <!--
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          -->
          <tbody>
            <tr>
              <th scope="col">
                Nombre
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
            <tr>
              <th scope="col">
                Fecha
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
          </tbody>
        </table>

  </div>
  
</body>

</html>