<%- include("template/headTemplate") %>

<%- include("template/navbarTemplate") %>

<div class="container col-md-8">

    <h1>
      INFORMACIÓN DE LA ACTIVIDAD
    </h1>

    <!-- Datos desplegados -->
    <table class="table">
      <!--
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        -->
        <tbody>
          <tr>
            <th scope="col">
              Nombre de la Actividad
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Campus
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Descripción
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Objetivo
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo de Actividad
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Socio Comunitario
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo de Destinatario
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Fecha
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Lugar
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Instrumento Administrativo
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Financiamiento
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Responsable
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Estado
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
        </tbody>
      </table>

      <h2>
        CREADO POR
      </h2>
  
      <!-- Datos desplegados -->
      <table class="table">
        <!--
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          -->
          <tbody>
            <tr>
              <th scope="col">
                Nombre
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
            <tr>
              <th scope="col">
                Fecha
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
          </tbody>
        </table>

      <a class="btn btn-success btn-block" href="/">INDEX</a>

  </div>
  
</body>

</html>