<%- include("template/headTemplate") %>
<%- include("template/navbar1Template") %> <!--
<%- include("template/navbar2Template") %> -->

<!-- TITULO --> 
<div class="p-4">
  <h2>
    INFORMACIÓN DEL
  </h2>
  <h1>
    PROGRAMA
  </h1>
  <a href="/">Inicio</a> -> <a href="/Formulario/FormularioProgramaInformacion">NOMBREPROGRAMA</a>
</div>

<!-- FORMULARIO -->
<div class="container rounded col-md-8" style="background-color: white;">

    <!-- Datos desplegados -->
    <table class="table">
        <tbody>
          <tr>
            <th scope="col">
              Nombre del Programa
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Descripción
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
          <tr>
            <th scope="col">
              Unidad Asociada
            </th>
            <td>
              TEXTOOOOOOOO
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="container rounded" style="background-color: lightgrey;"> 
        CREADO POR
      </h4>
  
      <!-- Datos desplegados -->
      <table class="table">
        <!--
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          -->
          <tbody>
            <tr>
              <th scope="col">
                Nombre
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
            <tr>
              <th scope="col">
                Fecha
              </th>
              <td>
                TEXTOOOOOOOO
              </td>
            </tr>
          </tbody>
        </table>

  </div>
  
</body>

</html>
