<%- include("template/headTemplate") %>
<body>
    <h1>DatosTestCrear.ejs</h1>
    
    <form action="/DatosTest" method="POST">
        <input type="text" placeholder="Nombre" name="nombre">
        <input type="text" placeholder="Carrera" name="carrera">
        <button class="btn btn-success btn-block" type="submit">Crear</button>
        <a class="btn btn-success btn-block" href="/DatosTest">Ir a DatosTest</a>
</body>
</html>