<%- include("template/headTemplate") %>
 
<%- include("template/navbarTemplate") %>

<div class="container col-md-8">

  <h1>
    TRIBUTACIONES DE LA
    ACTIVIDAD
  </h1>

  Inicio -> <a href="/Formulario/FormularioActividadInformacion">NOMBREACTIVIDAD</a> -> Tributaciones

    <form action="/Formulario/FormularioTributaciones" method="POST">

      <div class="row p-2">
      <div class="form-group col-md-5">
      <label for="id_tipoUnidadTributaciones">Tipo de Unidad</label>
      <select class="form-control" name="tipoUnidadTributaciones" id="id_tipoUnidadTributaciones">
        <option value="tipoUnidadTributaciones_institucional">Institucional</option>
        <option value="tipoUnidadTributaciones_departamento">Departamento</option>
        <option value="tipoUnidadTributaciones_opcion3">tipoUnidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-5">
      <label for="id_unidadTributaciones">Unidad</label>
      <select class="form-control" name="unidadTributaciones" id="id_unidadTributaciones">
        <option value="unidadTributaciones_opcion1">unidadTributaciones_opcion1</option>
        <option value="unidadTributaciones_opcion2">unidadTributaciones_opcion2</option>
        <option value="unidadTributaciones_opcion3">unidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-2">
      <button class="btn btn-success btn-block" type="submit">AGREGAR</button>
      </div>
    </div>
      
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
        </tr>
      </thead>
    </table>

    </div>

</body>