<%- include("template/headTemplate") %>

<body>

<div class="container col-md-8">

  <h1>ELECCIÓN DEL TIPO DE PROGRAMA</h1>
  
    <form class="w-100 p-4" action="/Formulario" method="POST">
      <div class="row p-2">
        <div class="form-group col-md-6">
          <label for="id_tipoPrograma">Tipo de Programa: </label>
            <select class="form-control" name="tipoPrograma" id="id_tipoPrograma">
              <option value="tipoPrograma_programa">Programa</option>
              <option value="tipoPrograma_proyecto">Proyecto</option>
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="id_nombrePrograma" id="id_nombreProgramaLabel">Nombre del Programa: </label>
          <input class="form-control" type="text" name="carreraFormulario" id="id_carreraFormulario">
        </div>
      </div>
  </form>

  <!-- Botones para  campo de nombre del programa
  <div class="controls">
    <button class="add" onclick="anadir()">Añadir</button>
    <button class="remove" onclick="remover()">Remover</button>
  </div>
  -->

  <div class="p-4">
  <a class="btn btn-success btn-block " href="/">Ir a Index</a>
  <a class="btn btn-success btn-block" href="/Formulario/Formulario2">Siguiente</a>
  </div>
</div>


<!-- Script para campo de nombre del programa -->
<!--

<script>

let carreraFormTestDinamico = document.getElementById('carreraFormTestDinamico');

function anadir(){
  const carreraFormTestCampo = document.createElement('input');
  carreraFormTestCampo.setAttribute('type','text');
  carreraFormTestCampo.setAttribute('name','carreraFormTest');
  carreraFormTestCampo.setAttribute('id','id_carreraFormTest');
  carreraFormTestDinamico.appendChild(carreraFormTestCampo);

  const nombreProgramaCampo = document.createElement('label');
  nombreProgramaCampo.setAttribute('for','id_nombrePrograma');
  carreraFormTestCampo.setAttribute('id','id_nombreProgramaLabel');
  carreraFormTestDinamico.appendChild(nombreProgramaCampo);
  document.getElementById('id_nombreProgramaLabel').innerHTML = "Nombre del Programa";
}

function remover(){
    let inputTag = carreraFormTestDinamico.getElementsByTagName('input');
  if(inputTag.length > 2) {
    carreraFormTestDinamico.removeChild(inputTag[(inputTag.length) - 1]);
  }
}

</script>

-->

</body>