<%- include("template/headTemplate") %>

<body>

<div class="container col-md-8">

  <h1>AGREGAR UN PROGRAMA</h1>

    <form class="w-100 p-4" action="/Formulario/Formulario2" method="POST">

      <div class="form-group p-2">
        <label for="id_nombrePrograma">Nombre del Programa: </label>
        <input class="form-control" type="text" name="nombrePrograma" id="id_nombrePrograma"></input>
      </div>

      <div class="row p-2">
        <div class="form-group col-md-6">
        <label for="id_tipoPrograma">Tipo del Programa: </label>
        <label class="form-control" id="id_tipoPrograma">TEXTO</label>
        </div>
      </div>
      <div class="form-group p-2">
        <label for="id_descripcion">Descripción: </label>
        <input class="form-control" type="text" name="descripcion" id="id_descripcion"></input>
      </div>
      <div class="row p-2">
        <div class="form-group col-md-6">
        <label for="id_tipoUnidadAsociada">Tipo de Unidad Asociada: </label>
        <select class="form-control" name="tipoUnidadAsociada" id="id_tipoUnidadAsociada">
          <option value="tipoUnidadAsociada_institucional">Institucional</option>
          <option value="tipoUnidadAsociada_departamental">Departamento</option>
          <option value="tipoUnidadAsociada_carrera">Carrera</option>
        </select>
        </div>
        <div class="form-group col-md-6">
        <label for="id_unidadAsociada">Unidad Asociada: </label>
        <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
          <option value="unidadAsociada_opcion1">opcion1</option>
          <option value="unidadAsociada_opcion2">opcion2</option>
          <option value="unidadAsociada_opcion3">opcion3</option>
        </select>
        </div>
      </div>
      
    </form>

  <div class="p-4">
  <a class="btn btn-success btn-block" href="/">Ir a Index</a>
  <a class="btn btn-success btn-block" href="/Formulario/Formulario3">Siguiente</a>
  </div>

</div>

</body>