<%- include("template/headTemplate") %>

<body>
    <h1>index.ejs</h1>
    <h2><%= tituloDinamico %></h2>
    <a class="btn btn-success btn-block" href="/DatosTest">Ir a DatosTest</a>
    <a class="btn btn-success btn-block" href="/FormTest">Ir a FormTest</a>
    <a class="btn btn-success btn-block" href="/Formulario">Ir al Formulario</a>
</body>
</html> 