<body>

    <!--
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/Formulario/FormularioInteraccion">Interacción</a>
            <a class="nav-item nav-link" href="/Formulario/FormularioRegistros">Registros</a>
            <a class="nav-item nav-link" href="/Formulario/FormularioColaboradores">Colaboradores</a>
            <a class="nav-item nav-link" href="/Formulario/FormularioTributaciones">Tributaciones</a>
          </div>
        </div>
      </nav>
    -->
    
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-primary">
        <button class="p-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#subMenus" aria-controls="subMenus" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <div class="navbar-nav flex-row">
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioInteraccion">Interacción</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioRegistros">Registros</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioColaboradores">Colaboradores</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioTributaciones">Tributaciones</a>
        </div>
        -->
        <div class="collapse navbar-collapse" id="subMenus">
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu1" aria-controls="subMenu1" aria-expanded="false" aria-label="Toggle navigation">
            Programas
          </button>
          <div class="collapse navbar-collapse" id="subMenu1">
            <a class="nav-item nav-link p-2 text-white" href="#">Nuevo</a>
            <a class="nav-item nav-link p-2 text-white" href="#">Buscar</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu2" aria-controls="subMenu2" aria-expanded="false" aria-label="Toggle navigation">
            Actividades
          </button>
          <div class="collapse navbar-collapse" id="subMenu2">
            <a class="nav-item nav-link p-2 text-white" href="#">Nuevo</a>
            <a class="nav-item nav-link p-2 text-white" href="#">Buscar</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu3" aria-controls="subMenu3" aria-expanded="false" aria-label="Toggle navigation">
            Reportes
          </button>
          <div class="collapse navbar-collapse" id="subMenu3">
            <a class="nav-item nav-link p-2 text-white" href="#">InteracciónPLACEHOLDER</a>
            <a class="nav-item nav-link p-2 text-white" href="#">RegistrosPLACEHOLDER</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu4" aria-controls="subMenu4" aria-expanded="false" aria-label="Toggle navigation">
            Estadísticas
          </button>
          <div class="collapse navbar-collapse" id="subMenu4">
            <a class="nav-item nav-link p-2 text-white" href="#">Panel</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu5" aria-controls="subMenu5" aria-expanded="false" aria-label="Toggle navigation">
            Administración
          </button>
          <div class="collapse navbar-collapse" id="subMenu5">
            <a class="nav-item nav-link p-2 text-white" href="#">Grupos</a>
            <a class="nav-item nav-link p-2 text-white" href="#">Usuarios</a>
          </div>
          </div>
    
        </div>
      </nav>
    </div>

    <!-- SEPARADORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR -->

    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-light">
        <div class="navbar-nav flex-row">
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioInteraccion">Interacción</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioRegistros">Registros</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioColaboradores">Colaboradores</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioTributaciones">Tributaciones</a>
        </div>
      </nav>
    </div>
    
    
    <!--
    <a class="btn btn-success btn-block" href="/Formulario/FormularioInteraccion">Interacción</a>
    <a class="btn btn-success btn-block" href="/Formulario/FormularioRegistros">Registros</a>
    <a class="btn btn-success btn-block" href="/Formulario/FormularioColaboradores">Colaboradores</a>
    <a class="btn btn-success btn-block" href="/Formulario/FormularioTributaciones">Tributaciones</a>
    -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

