<!-- Barra de navegación -->
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-primary">
        <button class="p-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#subMenus" aria-controls="subMenus" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="subMenus">
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu1" aria-controls="subMenu1" aria-expanded="false" aria-label="Toggle navigation">
            Programas
          </button>
          <div class="collapse navbar-collapse" id="subMenu1">
            <a class="nav-item nav-link p-2 text-white" href="/Formulario/Programa1">Nuevo</a>
            <a class="nav-item nav-link p-2 text-white" href="/Formulario/ProgramaBuscar">Buscar</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu2" aria-controls="subMenu2" aria-expanded="false" aria-label="Toggle navigation">
            Actividades
          </button>
          <div class="collapse navbar-collapse" id="subMenu2">
            <a class="nav-item nav-link p-2 text-white" href="/Formulario/Actividad">Nuevo</a>
            <a class="nav-item nav-link p-2 text-white" href="/Formulario/ActividadBuscar">Buscar</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu3" aria-controls="subMenu3" aria-expanded="false" aria-label="Toggle navigation">
            Reportes
          </button>
          <div class="collapse navbar-collapse" id="subMenu3">
            <a class="nav-item nav-link p-2 text-white" href="#">PLACEHOLDER</a>
            <a class="nav-item nav-link p-2 text-white" href="#">PLACEHOLDER</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu4" aria-controls="subMenu4" aria-expanded="false" aria-label="Toggle navigation">
            Estadísticas
          </button>
          <div class="collapse navbar-collapse" id="subMenu4">
            <a class="nav-item nav-link p-2 text-white" href="#">Panel</a>
          </div>
          </div>
    
          <div class="p-2">
          <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu5" aria-controls="subMenu5" aria-expanded="false" aria-label="Toggle navigation">
            Administración
          </button>
          <div class="collapse navbar-collapse" id="subMenu5">
            <a class="nav-item nav-link p-2 text-white" href="#">Grupos</a>
            <a class="nav-item nav-link p-2 text-white" href="#">Usuarios</a>
          </div>
          </div>

          <div class="p-2">
            <button class="nav-link p-2 text-white" type="button" data-toggle="collapse" data-target="#subMenu6" aria-controls="subMenu6" aria-expanded="false" aria-label="Toggle navigation">
              Académicos
            </button>
            <div class="collapse navbar-collapse" id="subMenu6">
              <a class="nav-item nav-link p-2 text-white" href="/Formulario/AcademicoBuscar">Resumen por Académico</a>
            </div>
          </div>
    
        </div>
      </nav>
    </div>

