
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-light">
        <div class="navbar-nav flex-row">
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioInteraccion">Interacción</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioRegistros">Registros</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioColaboradores">Colaboradores</a>
          <a class="nav-item nav-link p-4 text-dark" href="/Formulario/FormularioTributaciones">Tributaciones</a>
        </div>
      </nav>
    </div>

