<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuerde rellenar lo siguiente:</h5>
      </div>
      <div class="modal-body">

      <!-- FILA 1 -->
      <div class="row p-2">
        <div class="col-md-6">
      
          <a type="button" class="container btn btn-block" href="/Formulario/Interaccion">
            <i class="bi-file-text-fill" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Interacción</div>
          </a>

        </div>
        <div class="col-md-6">

          <a type="button" class="container btn btn-block" href="/Formulario/Registros">
            <i class="bi-image-fill" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Registros</div>
          </a>

        </div>
      </div>
      <!-- FILA 2 -->
      <div class="row p-2">
        <div class="col-md-6">

          <a type="button" class="container btn btn-block" href="/Formulario/Colaboradores">
            <i class="bi-people-fill" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Colaboradores</div>
          </a>

        </div>
        <div class="col-md-6">

          <a type="button" class="container btn btn-block" href="/Formulario/Tributaciones">
            <i class="bi-currency-dollar" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Tributaciones</div>
          </a>

        </div>
      </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button><!--
        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>