
<div class="form-group col-md-6">
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="unidadAsociada_opcion1">I.T.R. Santiago</option>
    <option value="unidadAsociada_opcion2">I.T.R. Chiloé</option>
    <option value="unidadAsociada_opcion3">Ciencias Sociales</option>
    <option value="unidadAsociada_opcion1">Acuicultura y Recursos Agroalimentarios</option>
    <option value="unidadAsociada_opcion2">Arquitectura y Diseño</option>
    <option value="unidadAsociada_opcion3">Ciencias Administrativas y Económicas</option>
    <option value="unidadAsociada_opcion1">Ciencias Biológicas y Biodiversidad</option>
    <option value="unidadAsociada_opcion2">Ciencias de la Actividad Física</option>
    <option value="unidadAsociada_opcion3">Ciencias del Desarrollo</option>
    <option value="unidadAsociada_opcion1">Ciencias Exactas</option>
    <option value="unidadAsociada_opcion2">Salud</option>
    <option value="unidadAsociada_opcion3">Gobierno y Gestión Pública</option>
    <option value="unidadAsociada_opcion1">Humanidades y Arte</option>
    <option value="unidadAsociada_opcion2">Recursos Naturales y Medio Ambiente</option>
    <option value="unidadAsociada_opcion3">Educación</option>
    <option value="unidadAsociada_opcion3">I.T.R. Osorno</option>
    <option value="unidadAsociada_opcion3">I.T.R. Puerto Montt</option>
    <option value="unidadAsociada_opcion3">Sede Chiloé</option>
    <option value="unidadAsociada_opcion3">Sede Santiago</option>
    <option value="unidadAsociada_opcion3">Dirección de Postgrado</option>
    <option value="unidadAsociada_opcion3">Unidades Productivas</option>
    <option value="unidadAsociada_opcion3">Escuela de Pedagogía</option>
    <option value="unidadAsociada_opcion3">Dirección de Vinculación con el Medio</option>
    <option value="unidadAsociada_opcion3">Dirección de Comunicaciones Estratégicas</option>
    <option value="unidadAsociada_opcion3">Unidad de Seguimiento de Egresados</option>
    <option value="unidadAsociada_opcion3">Dirección de Formación...</option>
    <option value="unidadAsociada_opcion3">Dirección de Desarrollo Estudiantil</option>
    <option value="unidadAsociada_opcion3">Academia de Arte y Cultura</option>
    <option value="unidadAsociada_opcion3">Dirección de Relaciones Internacionales</option>
    <option value="unidadAsociada_opcion3">PLACEHOLDER1</option>
    <option value="unidadAsociada_opcion3">PLACEHOLDER2</option>
  </select>
  </div>
