
<div class="form-group col-md-6">
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="unidadAsociada_opcion1">Ingeniería Civil Obras Civiles (Puerto Montt)</option>
    <option value="unidadAsociada_opcion2">Ingeniería Civil Eléctrica</option>
    <option value="unidadAsociada_opcion3">Agronomía</option>
    <option value="unidadAsociada_opcion1">Antropología</option>
    <option value="unidadAsociada_opcion2">Ingeniería Civil Informática (Osorno)</option>
    <option value="unidadAsociada_opcion3">Programa de... de Estudios en Educación Física</option>
    <option value="unidadAsociada_opcion1">Programa de... de Estudios en Educación Parvularia</option>
    <option value="unidadAsociada_opcion2">Ingeniería en Informática para... de Nivel Superior (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Ingeniería en Administración Pública (Santiago)</option>
    <option value="unidadAsociada_opcion1">Ingeniería en Informática para... de Nivel Superior (Osorno)</option>
    <option value="unidadAsociada_opcion2">Obstetricia y Puericultura</option>
    <option value="unidadAsociada_opcion3">Construcción Civil para Técnicos (Chiloé)</option>
    <option value="unidadAsociada_opcion1">Ingeniería en Informática para... de Nivel Superior (Chiloé)</option>
    <option value="unidadAsociada_opcion2">Pedagogía en educación general básica (Chiloé)</option>
    <option value="unidadAsociada_opcion3">Terapia Ocupacional (Chiloé)</option>
    <option value="unidadAsociada_opcion3">Pedagogía en Educación básica mención Lenguaje y Matemática</option>
    <option value="unidadAsociada_opcion3">Magíster en salud colectiva</option>
    <option value="unidadAsociada_opcion3">Magíster gobierno y gestión de políticas públicas</option>
    <option value="unidadAsociada_opcion3">Derecho</option>
    <option value="unidadAsociada_opcion3">Terapia Ocupacional (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Pedagogía Historia y Geografía</option>
    <option value="unidadAsociada_opcion3">Pedagogía (Osorno)</option>
    <option value="unidadAsociada_opcion3">Trabajo Social</option>
    <option value="unidadAsociada_opcion3">Psicología (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Ingeniería en Alimentos</option>
    <option value="unidadAsociada_opcion3">Arquitectura</option>
    <option value="unidadAsociada_opcion3">Ingeniería Comercial</option>
    <option value="unidadAsociada_opcion3">Contador Público y Auditor</option>
    <option value="unidadAsociada_opcion3">Biología Marina</option>
    <option value="unidadAsociada_opcion3">Pedagogía Educación Media en Educación Física (Osorno)</option>
    <option value="unidadAsociada_opcion3">Pedagogía Educación Media en Educación Física (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Pedagogía En Educación Media en Matemática y Computación</option>
    <option value="unidadAsociada_opcion3">Kinesiología</option>
    <option value="unidadAsociada_opcion3">Fonoaudiología</option>
    <option value="unidadAsociada_opcion3">Enfermería</option>
    <option value="unidadAsociada_opcion3">Nutrición y Dietética</option>
    <option value="unidadAsociada_opcion3">Ciencias... y Administrativas</option>
    <option value="unidadAsociada_opcion3">Ingeniería Civil Informática (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Ingeniería Civil Industrial</option>
    <option value="unidadAsociada_opcion3">Pedagogía en Educación Media en inglés</option>
    <option value="unidadAsociada_opcion3">Pedagogía en Educación en Lengua Castellana y Comunicaciones</option>
    <option value="unidadAsociada_opcion3">Pedagogía en Educación Media en..., Música y Artes Visuales</option>
    <option value="unidadAsociada_opcion3">Ingeniería Ambiental</option>
    <option value="unidadAsociada_opcion3">Educación Parvularia (Osorno)</option>
    <option value="unidadAsociada_opcion3">Educación Diferencial con Especialidad en Problemas de Aprendizaje</option>
    <option value="unidadAsociada_opcion3">Técnico Deportivo Universitario (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Administración de Empresas (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Construcción (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Educación Parvularia (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Electricidad y Automatización (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Gestión y Desarrollo de Productos Alimentarios (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Informática (Osorno)</option>
    <option value="unidadAsociada_opcion3">Construcción Civil para Técnicos de Nivel Superior (Osorno)</option>
    <option value="unidadAsociada_opcion3">Ingeniería en Administración de Empresas para Técnicos Nivel Superior (Osorno)</option>
    <option value="unidadAsociada_opcion3">Técnico Deportivo Universitario (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Administración de Empresas (Puerto Montt)</option>
    <option value="unidadAsociada_opcion3">Técnico Universitario en Construcción (Puerto Montt)</option>
  </select>
  </div>
