
<!-- <div class="form-group col-md-6" id="id_campoUnidadAsociada"> -->
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="2">I.T.R. Santiago</option>
    <option value="3">I.T.R. Chiloé</option>
    <option value="4">Ciencias Sociales</option>
    <option value="5">Acuicultura y Recursos Agroalimentarios</option>
    <option value="6">Arquitectura y Diseño</option>
    <option value="7">Ciencias Administrativas y Económicas</option>
    <option value="8">Ciencias Biológicas y Biodiversidad</option>
    <option value="9">Ciencias de la Actividad Física</option>
    <option value="10">Ciencias del Desarrollo</option>
    <option value="11">Ciencias Exactas</option>
    <option value="12">Salud</option>
    <option value="13">Gobierno y Gestión Pública</option>
    <option value="14">Humanidades y Arte</option>
    <option value="15">Recursos Naturales y Medio Ambiente</option>
    <option value="16">Educación</option>
    <option value="17">I.T.R. Osorno</option>
    <option value="18">I.T.R. Puerto Montt</option>
    <option value="19">Sede Chiloé</option>
    <option value="20">Sede Santiago</option>
    <option value="21">Dirección de Postgrado</option>
    <option value="22">Unidades Productivas</option>
    <option value="23">Escuela de Pedagogía</option>
    <option value="24">Dirección de Vinculación con el Medio</option>
    <option value="25">Dirección de Comunicaciones Estratégicas</option>
    <option value="26">Unidad de Seguimiento de Egresados</option>
    <option value="27">Dirección de Formación...</option>
    <option value="28">Dirección de Desarrollo Estudiantil</option>
    <option value="29">Academia de Arte y Cultura</option>
    <option value="30">Dirección de Relaciones Internacionales</option>
    <option value="31">PLACEHOLDER1</option>
    <option value="32">PLACEHOLDER2</option>
  </select>
<!-- </div> -->
