
<!-- <div class="form-group col-md-6" id="id_campoUnidadAsociada"> -->
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="1">Universidad De Los Lagos</option>
  </select>
<!-- </div> -->
