
<div class="form-group col-md-6">
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="unidadAsociada_opcion1">Universidad De Los Lagos</option>
  </select>
  </div> 
