
<!-- <div class="form-group col-md-6" id="id_campoUnidadAsociada"> -->
  <label for="id_unidadAsociada">Unidad Asociada: </label>
  <select class="form-control" name="unidadAsociada" id="id_unidadAsociada">
    <option value="33">Ingeniería Civil Obras Civiles (Puerto Montt)</option>
    <option value="34">Ingeniería Civil Eléctrica</option>
    <option value="35">Agronomía</option>
    <option value="36">Antropología</option>
    <option value="37">Ingeniería Civil Informática (Osorno)</option>
    <option value="38">Programa de... de Estudios en Educación Física</option>
    <option value="39">Programa de... de Estudios en Educación Parvularia</option>
    <option value="40">Ingeniería en Informática para... de Nivel Superior (Puerto Montt)</option>
    <option value="41">Ingeniería en Administración Pública (Santiago)</option>
    <option value="42">Ingeniería en Informática para... de Nivel Superior (Osorno)</option>
    <option value="43">Obstetricia y Puericultura</option>
    <option value="44">Construcción Civil para Técnicos (Chiloé)</option>
    <option value="45">Ingeniería en Informática para... de Nivel Superior (Chiloé)</option>
    <option value="46">Pedagogía en educación general básica (Chiloé)</option>
    <option value="47">Terapia Ocupacional (Chiloé)</option>
    <option value="48">Pedagogía en Educación básica mención Lenguaje y Matemática</option>
    <option value="49">Magíster en salud colectiva</option>
    <option value="50">Magíster gobierno y gestión de políticas públicas</option>
    <option value="51">Derecho</option>
    <option value="52">Terapia Ocupacional (Puerto Montt)</option>
    <option value="53">Pedagogía Historia y Geografía</option>
    <option value="54">Pedagogía (Osorno)</option>
    <option value="55">Trabajo Social</option>
    <option value="56">Psicología (Puerto Montt)</option>
    <option value="57">Ingeniería en Alimentos</option>
    <option value="58">Arquitectura</option>
    <option value="59">Ingeniería Comercial</option>
    <option value="60">Contador Público y Auditor</option>
    <option value="61">Biología Marina</option>
    <option value="62">Pedagogía Educación Media en Educación Física (Osorno)</option>
    <option value="63">Pedagogía Educación Media en Educación Física (Puerto Montt)</option>
    <option value="64">Pedagogía En Educación Media en Matemática y Computación</option>
    <option value="65">Kinesiología</option>
    <option value="66">Fonoaudiología</option>
    <option value="67">Enfermería</option>
    <option value="68">Nutrición y Dietética</option>
    <option value="69">Ciencias... y Administrativas</option>
    <option value="70">Ingeniería Civil Informática (Puerto Montt)</option>
    <option value="71">Ingeniería Civil Industrial</option>
    <option value="72">Pedagogía en Educación Media en inglés</option>
    <option value="73">Pedagogía en Educación en Lengua Castellana y Comunicaciones</option>
    <option value="74">Pedagogía en Educación Media en..., Música y Artes Visuales</option>
    <option value="75">Ingeniería Ambiental</option>
    <option value="76">Educación Parvularia (Osorno)</option>
    <option value="77">Educación Diferencial con Especialidad en Problemas de Aprendizaje</option>
    <option value="78">Técnico Deportivo Universitario (Osorno)</option>
    <option value="79">Técnico Universitario en Administración de Empresas (Osorno)</option>
    <option value="80">Técnico Universitario en Construcción (Osorno)</option>
    <option value="81">Técnico Universitario en Educación Parvularia (Osorno)</option>
    <option value="82">Técnico Universitario en Electricidad y Automatización (Osorno)</option>
    <option value="83">Técnico Universitario en Gestión y Desarrollo de Productos Alimentarios (Osorno)</option>
    <option value="84">Técnico Universitario en Informática (Osorno)</option>
    <option value="85">Construcción Civil para Técnicos de Nivel Superior (Osorno)</option>
    <option value="86">Ingeniería en Administración de Empresas para Técnicos Nivel Superior (Osorno)</option>
    <option value="87">Técnico Deportivo Universitario (Puerto Montt)</option>
    <option value="88">Técnico Universitario en Administración de Empresas (Puerto Montt)</option>
    <option value="89">Técnico Universitario en Construcción (Puerto Montt)</option>
  </select>
<!-- </div> -->
