<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<div class="container col-md-8"> 

<div class="form-group p-2">
<h1>Sistema de Vinculación con el Medio</h1>

Registro y Evaluación de Actividades de Vinculación con el Medio y Responsabilidad Social Universitaria
</div>

<div class="form-group p-2">
Bienvenid@, NOMBREUSUARIO
</div>

<div class="form-group p-2">
La Dirección de Vinculación con el Medio te da la más cordial de las bienvenidas. Este sistema está creado para brindarte la mejor experiencia en la gestión de tus proyectos. En donde podrás evidenciar todo respecto a ellas.
</div>

<div class="form-group p-2">
Para comenzar, pincha el icono ICONO que se encuentra en la parte superior, a la izquierda de la pantalla.
</div>

<div class="form-group p-2">
Que tengas un buen día, y disfruta de esta aplicación.
</div>

</div>

<!-- BOTONES -->
<div class="container rounded col-md-8">
    <div class="row p-2">
      <div class="col-md-6 p-2">
        <div class="container rounded" style="background-color: white;">
      
          <a type="button" class="container btn btn-block" href="/Formulario/Programa1">
            <i class="bi-file-text-fill" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Crear un Programa</div>
          </a>

        </div>
      </div>

      <div class="col-md-6 p-2">
        <div class="container rounded" style="background-color: white;">

          <a type="button" class="container btn btn-block" href="/Formulario/Actividad">
            <i class="bi-file-text-fill" style="font-size: 2rem; color: dodgerblue;"></i>
            <div>Crear una Actividad</div>
          </a>

        </div>
        </div>
      </div>
</div>

</body>
</html> 